<div class = "footer">
    <a class="foot-container">
        <a href="#"><img class="icon-click" src="/images/Icons/facebook.png"/></a>
        <a href="#"><img class="icon-click" src="/images/Icons/twitter.png"/></a>
        <a href="#"><img class="icon-click" src="/images/Icons/ig.png"/></a>
        <a href="#"><img class="icon-click" src="/images/Icons/gmail.png"/></a>
        <h3 class="footer-text">Luminosity Pics LLC</h3>
</div>
