<header>
    <div class="page-header">
        <a href="/"><img src="https://s3.amazonaws.com/luminositypicsalbum/Logo/LuminosityPics_gradient_updated.png" ></a>
        <div class="nav">
            <ul>
                <li><a href="about">About</a></li>
                <li>|</li>
                <li><a href="/">Gallery</a></li>
                <li>|</li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>