<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Pacifico|Poiret+One" rel="stylesheet">
      <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/MediaQueries.css' />
  </head>
  <body>
    {{>header}}
        {{{body}}}
            {{>footer}}
    <script   src="/javascripts/jquery.js"></script>
        <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
            <script src="/javascripts/script.js"></script>
  </body>
</html>
