<div class = "row margin">
    <div class = "col-xs-12 col-md-6 about-image-container">
        <img class = "bioImage" src = "https://s3.amazonaws.com/luminositypicsalbum/Asset/BioImage.jpg" alt="Brittany Gilbert | Photographer">
    </div>
    <div class = "col-xs-12 col-md-6 about-text-container">
        <p>
            Hey! My name is Brittany Gilbert, and I'm a freelance photographer.  I have always loved capturing beautiful moments in pictures, as it is the purest form of preserving them.  I'm available in most of the greater Louisville area.
        </p>
        <p>
            I've loved taking pictures for a while now and would love to add you and your event to my portfolio, while providing you beautiful pictures to remember forever.
        </p>
    </div>
    <div class="about-text-container2">
        <p>
            Hello everyone my name is Daniel Daugherty. I am part owner of Luminosity Photography. I am 23 years old and have been taking pictures 8 years.
        </p>
        <p>
            I started taking pictures of landscapes and flowers around my parents farm. Until recently I've started taking pictures of people to capture emotions and memories that will last for ever.
        </p>
    </div>
    <div class="about-image-container2">
        <img class="bioImage" src="https://s3.amazonaws.com/luminositypicsalbum/Asset/Daniel_bioImage.jpg" alt="Daniel Daugherty | Photographer">
    </div>
</div>