
<div class = "row contact-div">
    <div class = "col-md-12 contact-header">
        <h1>
            Contact Us!
        </h1>
        <div class = "contact-p">
            <p>
                We're currently taking appointments, so feel free to contact us to be a part of your next event you want to be remembered forever!
            </p>
            <p>If you would like to see more examples of our work, please check out the facebook, twitter or instagram links below</br>I will try and post regular updates on our work in these locations, while updating the site periodically</p>
            <p>Feel free to message us to schedule any events on these sites, or at the email address listed below!</p>
        </div>
    </div>
    <div class = "col-md-12 contact-table">
        <table>
            <tr>
                <td class="icon-td">
                    <img class="icon" src="https://s3.amazonaws.com/luminositypicsalbum/Icons/facebook.png"/>
                </td>
                <td class="link-td"><a href="#">
                    Facebook.com/LuminosityPics
                </a></td>
            </tr>
            <tr>
                <td class="icon-td">
                    <img class="icon" src="https://s3.amazonaws.com/luminositypicsalbum/Icons/twitter.png"/>
                </td>
                <td class="link-td"><a href="#">
                    Twitter.com/LuminosityPics
                </a></td>
            </tr>
            <tr>
                <td class="icon-td">
                    <img class="icon" src="https://s3.amazonaws.com/luminositypicsalbum/Icons/ig.png"/>
                </td>
                <td class="link-td"><a href="#">
                    Instagram.com/LuminosityPics
                </a></td>
            </tr>
            <tr>
                <td class="icon-td">
                    <img class="icon" src="https://s3.amazonaws.com/luminositypicsalbum/Icons/gmail.png"/>
                </td>
                <td class="link-td"><a href="#">
                    info@LuminosityPics.com
                </a></td>
            </tr>
        </table>
    </div>
</div>